.row:nth-child(even)
    margin-left: 0.5em

.seat
  display: inline-block
  width: 1em
  height: 1em
  margin-right: 0.2em

.seat-free
  background: #00ff00
  cursor: pointer
  &:hover
    border: 1px solid #9e9e9e

.seat-reserved
  background: #ff0000
  cursor: pointer
  &:hover
    border: 1px solid #9e9e9e


.seat-placeholder
  opacity: 0
